venv/*
db.sqlite3
*.pyc
vars
*.djcache
# dependencies
spotify/node_modules

# testing
spotify/coverage


# misc
spotify/.DS_Store
spotify/.env.local
spotify/.env.development.local
spotify/.env.test.local
spotify/.env.production.local

spotify/npm-debug.log*
spotify/yarn-debug.log*
spotify/yarn-error.log*

static/